<div class="card mb-3 p-2">
    <div class="car-body">
        <a routerLink="/detail/{{movie.id}}">
            <img src="assets/img/{{movie.imageUrl}}" alt="" class="card-img w-100">
            </a>
        <span class="tag-pill"
        [class.invisible]="movie.id == 0"
        >
            id: {{movie.id}} name: {{movie.name}}
        </span>
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="movie.name">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>